.vs/LVC.HM/v15/.suo
bin/Debug/LV-Crew.HostsManager.exe
obj/Debug/CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/HostsManager.frmAbout.resources
obj/Debug/HostsManager.frmEditHosts.resources
obj/Debug/HostsManager.frmHostsManager.resources
obj/Debug/HostsManager.frmOptions.resources
obj/Debug/HostsManager.Properties.Resources.resources
obj/Debug/Interop.TaskScheduler.dll
obj/Debug/LV-Crew.HostsManager.exe
obj/Debug/LV-Crew.HostsManager.pdb
obj/Debug/LVC.HM.csproj.FileListAbsolute.txt
obj/Debug/LVC.HM.csproj.GenerateResource.Cache
obj/Debug/LVC.HM.csproj.ResolveComReference.cache
obj/Debug/LVC.HM.csprojResolveAssemblyReference.cache
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
LV-Crew.HostsManager.Icon.ico
LV-Crew.HostsManager.Logo.png
