.vs/HostsManager/v14/.suo
*.cache
bin/Debug/HostsManager.vshost.exe
bin/Debug/HostsManager.vshost.exe.config
bin/Debug/HostsManager.vshost.exe.manifest
bin/Release/*.*
bin/Release/bgnd.mp3
bin/Release/bgnd.wav
bin/Release/blacklist.xml
bin/Release/branding.ini
bin/Release/HostsManager.exe
bin/Release/HostsManager.pdb
bin/Release/HostsManager.vshost.exe
bin/Release/HostsManager.vshost.exe.config
bin/Release/LV-Crew.HostsManager.Logo.png
bin/Release/LV-Crew.HostsManager.vshost.exe.config
bin/Release/LV-Crew.HostsManager.vshost.exe.manifest
bin/Release/settings.xml
Branding/Arrioch-Senary-Drive-Drive-Server.ico
obj/*.*
obj/Debug/CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/HostsManager_MarkupCompile.cache
obj/Debug/HostsManager_MarkupCompile.i.cache
obj/Debug/HostsManager_MarkupCompile.lref
obj/Debug/HostsManager.csproj.FileListAbsolute.txt
obj/Debug/HostsManager.csproj.GenerateResource.Cache
obj/Debug/HostsManager.csproj.ResolveComReference.cache
obj/Debug/HostsManager.csprojResolveAssemblyReference.cache
obj/Debug/HostsManager.exe
obj/Debug/HostsManager.frmAbout.resources
obj/Debug/HostsManager.frmDialog.resources
obj/Debug/HostsManager.frmEditHosts.resources
obj/Debug/HostsManager.frmHostsManager.resources
obj/Debug/HostsManager.frmNotifyAntivirus.resources
obj/Debug/HostsManager.frmOptions.resources
obj/Debug/HostsManager.g.resources
obj/Debug/HostsManager.pdb
obj/Debug/HostsManager.Properties.Resources.resources
obj/Debug/Interop.TaskScheduler.dll
obj/Debug/Interop.WMPLib.dll
obj/Debug/LV-Crew.HostsManager.exe
obj/Debug/LV-Crew.HostsManager.pdb
obj/Debug/LVC.HM.csproj.FileListAbsolute.txt
obj/Debug/LVC.HM.csproj.GenerateResource.Cache
obj/Debug/LVC.HM.csproj.ResolveComReference.cache
obj/Debug/LVC.HM.csprojResolveAssemblyReference.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/UserControl1.baml
obj/Debug/UserControl1.g.cs
obj/Debug/UserControl1.g.i.cs
obj/Release/*.*
obj/Release/CoreCompileInputs.cache
obj/Release/DesignTimeResolveAssemblyReferences.cache
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/HostsManager.csproj.FileListAbsolute.txt
obj/Release/HostsManager.csproj.GenerateResource.Cache
